# 项目排除路径
/renren-generator/target/
/yicode-common/target/
/yicode-gateway/target/
/yicode-openapi/yicode-openapi-api/target/
/yicode-openapi/yicode-openapi-assemble/target/
/yicode-openapi/yicode-openapi-web/target/