<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixihan.yicode.question.dal.mapper.label.LabelQuestionMapper">

    <select id="allQuestionLabel"
            resultType="com.yixihan.yicode.question.api.dto.response.label.LabelDtoResult">
        select
            l.label_id as labelId,
            any_value(l.label_name) as labelName,
            any_value(l.create_time) as createTime,
            any_value(l.update_time) as updateTime,
            any_value(l.version) as version,
            any_value(l.del_flag) as delFlag
        from
            label_question as lq
                left join
            label as l on l.label_id = lq.label_id
        where
            lq.del_flag = 0
          and l.del_flag = 0
          <if test="labelName != null and labelName != ''">
              and l.label_name like concat('%', #{labelName}, '%')
          </if>
        group by
            l.label_id
        order by
            createTime
    </select>
</mapper>
