<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixihan.yicode.question.dal.mapper.note.NoteMapper">

    <select id="queryNote" resultType="com.yixihan.yicode.question.api.dto.response.note.NoteDtoResult">
        <bind name="noteName" value="'%' + params.getNoteName () + '%'" />
        select
        n.`question_id`,
        n.`note_id`,
        any_value(n.`note_name`) as noteName,
        any_value(n.`note_content`) as noteContent,
        any_value(n.`user_id`) as userId,
        any_value(n.`like_count`) as likeCount,
        any_value(n.`comment_count`) as commentCount,
        any_value(n.`read_count`) as readCount,
        any_value(n.`create_time`) as createTime,
        any_value(n.`update_time`) as updateTime
        from `note` as n
        <if test="params.labelIdList != null and params.labelIdList.size () > 0">
            left join `label_note` as ln on ln.`del_flag` = 0 and  n.`note_id` = ln.`note_id`
        </if>
        <where>
            and n.`del_flag` = 0
            and n.`question_id` = #{params.questionId}
            <if test="params.noteName != null and params.noteName != ''">
                and n.`note_name` like concat('%', #{noteName}, '%')
            </if>
            <if test="params.labelIdList != null and params.labelIdList.size () > 0">
                <foreach collection="params.labelIdList" item="item"
                         open="and ln.`label_id` in (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by
            <choose>
                <when test="params.likeCount != null and params.likeCount">
                    likeCount desc,
                </when>
                <when test="params.createDesc != null and params.createDesc">
                    createTime desc,
                </when>
                <when test="params.createAsc != null and params.createAsc">
                    createTime,
                </when>
                <otherwise>
                    readCount desc,
                </otherwise>
            </choose>
            updateTime desc
    </select>
</mapper>
